@{
    ViewBag.Title = "About";
}

<head>
    <link href="@Url.Content("~/Content/about-css.css")" rel="stylesheet" type="text/css" />
    <style>
        .para{
            margin-top: 100px;
        }
        .team{
            text-align: center;
        }
        .faqs{
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="para">
        <h3>About Us</h3>
        <br />
        <br />
        <p><strong>Our Vision</strong></p>
        <p>A world where communities and nature sustainably thrive together to stop global warming in our lifetime</p>
        <p><strong>Our Vision</strong></p>
        <p>To conserve and restore the ecological integrity of forests and landscapes, engaging communities to implement and deliver lasting solutions for climate, nature and people.</p>
        <p><strong>Our Values</strong></p>
        <p>The values that inspire our work are: Integrity, Transparency, Excellence, Collaboration, Passion and Courage.</p>
        <p><strong>Our Goal</strong></p>
        <p>Our goal is to reach over 100 million trees – equivalent to around 85 000 hectares – restored or conserved by the end of 2024, making a significant contribution to the <a href="https://www.decadeonrestoration.org/">UN Decade on Ecosystem Restoration</a>.</p>
        <br />
        <br />
        <div class="team">
            <h3>Who we are </h3>
            <br />
            <p>Our team is spread over 3 continents and 12 countries, sharing the same commitment for a better world.</p>
            <p><a href="https://www.weforest.org/page/about-us#tab-137274">Team</a></p>
        </div>
        <br />
        <br />
        <div class="faqs">
            <h3>FAQS</h3>
            <br />
            <p>Any questions? Check our <a href="https://www.weforest.org/page/faqs">FAQs</a>.</p>
        </div>
    </div>
</body>

