@{
    ViewBag.Title = "Contact Us";
}

<head>
    <link href="@Url.Content("~/Content/contact-css.css")" rel="stylesheet" type="text/css" />
    <style>
        .b a{
            height:100px;
            width: 100px;
            border: 1px solid white;
            background-color: darkolivegreen;
            color: white;
        }
        .b a:hover{
            background-color: midnightblue;
            color: white;
        }
    </style>
</head>

<br />
<br />

<h2>@ViewBag.Title.</h2>

<address>
    HEADQUARTERS (BELGIUM)
    <br />
    <br />
   <strong>WeForest asbl/vzw</strong>
    <br />
    (Tribes Brussels Central Station)
    <br />
    Rue des Colonies, 56
    <br />
    1000 - Brussels
    <br />
    <br />
    Office: +32 (0)2 308 49 43
    <br />
    Cell: +32 (0)474 07 07 62
    <br />
    <a href="mailto:contact@weforest.org">contact@weforest.org</a>
    <br />
    <br />
    VAT BE0826.151.968
    <br />
    Incorporated May 26th, 2010.
</address>
<br />
<br />
<br />
<address>
    FRANCE
    <br />
    <br />
    <strong>WeForest France</strong>
    <br />
    #W751238286
    <br />
    Inc. 25/03/17
    <br />
    77, bld Malesherbes
    <br />
    75008 Paris
    <br />
    Cell : + 33 (0) 6 07 24 38 93
</address>
<br />
<br />
<br />
<address>
    ETHIOPIA
    <br />
    <br />
    <strong>WeForest Ethiopia</strong>
    <br />
    Charity (#3910)
    <br />
    Registered 5/02/18
    <br />
    Palm Building, CMC area
    <br />
    Addis Ababa, subcity Bole, District 08
</address>
<br />
<br />
<br />
<address>
    ZAMBIA
    <br />
    <br />
    <strong>WeForest Zambia</strong>
    <br />
    Charity #120190000724
    <br />
    Plot 2404, Kamfinsa
    <br />
    Box 22370 Zambia
</address>
<br />
<br />
<div class="b">
    <a href="https://form.jotform.com/200904094049048"><i class="icon glyphicon glyphicon-envelope">Contact</i></a>
</div>
