
@{
    ViewBag.Title = "Projects";
}

<head>
    <style>
        body{
            background-color: white;
        }
        .map{
            margin-top: 100px;
            margin-bottom: 50px;
            width: 100%;
        }
        .map h1, p{
            text-align: center;
        }
        .map img{
            max-width: 1200px;
            margin-top: 50px;
            opacity: 0.8;
        }
        .project{
            width: 100%;
            margin-left: -25px;
        }
        .first{
            margin-top: 50px;
        }
        .first .first-row .col img{
            width: 580px;
        }
        .first .first-row{
            display: flex;
            margin-right: 100px;
        }
        .second{
            margin-top: 50px;
        }
        .second .second-row .col img{
            width: 580px;
        }
        .second .second-row{
            display: flex;
            margin-right: 100px;
        }
        .third {
            margin-top: 50px;
        }

        .third .third-row .col img {
            width: 580px;
        }

        .third .third-row {
            display: flex;
            margin-right: 100px;
        }
        .fourth {
            margin-top: 50px;
        }

        .fourth .fourth-row .col img {
            width: 580px;
        }

        .fourth .fourth-row {
            display: flex;
            margin-right: 100px;
        }
        .fifth {
            margin-top: 50px;
        }

        .fifth .fifth-row .col img {
            width: 580px;
        }

        .fifth .fifth-row {
            display: flex;
            margin-right: 100px;
        }
        .sixth {
            margin-top: 50px;
        }

        .sixth .sixth-row .col img {
            width: 580px;
        }

        .sixth .sixth-row {
            display: flex;
            margin-right: 100px;
        }
        .seventh {
            margin-top: 50px;
        }

        .seventh .seventh-row .col img {
            width: 580px;
        }

        .seventh .seventh-row {
            display: flex;
            margin-right: 100px;
        }
        .eighth {
            margin-top: 50px;
        }

        .eighth .eighth-row .col img {
            width: 580px;
        }

        .eighth .eighth-row {
            display: flex;
            margin-right: 100px;
        }
        .ninth {
            margin-top: 50px;
        }

        .ninth .ninth-row .col img {
            width: 580px;
        }

        .ninth .ninth-row {
            display: flex;
            margin-right: 100px;
        }
        .tenth {
            margin-top: 50px;
        }

        .tenth .tenth-row .col img {
            width: 580px;
        }

        .tenth .tenth-row {
            display: flex;
            margin-right: 100px;
        }
        .eleven {
            margin-top: 50px;
        }

        .eleven .eleventh-row .col img {
            width: 580px;
        }

        .col{
            margin-right: 45px;
        }
        .completed-project{
            margin-top: 100px;
        }
        .completed-project h1{
            text-align:center;
        }
        .completed-project img{
            opacity: 0.8;
        }
        .text{
            width: 580px;
            text-align: center;
        }
        .para{
            color: darkolivegreen;
        }
        .para:hover{
            color: darkolivegreen;
        }
    </style>
</head>
<body>
    <div class="project">
        <div class="map">
            <h1>Project Map</h1>
            <div class="map">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="1200" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/">divi discount</a><br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 500px;
                                width: 1200px;
                            }
                        </style><a href="https://www.embedgooglemap.net">google map api for website</a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 500px;
                                width: 1200px;
                            }
                        </style>
                    </div>
                </div>
            </div>
            <div class="current-project">
                <h1>Current Projects</h1>
                <div class="first">
                    <div class="first-row">
                        <div class="col">
                            <a href="https://www.weforest.org/project/brazil-wildlife-corridors"><img src="~/Images/Projects-page/first.jpg" alt="Brazil" /></a>
                            <a class="para" href="https://www.weforest.org/project/brazil-wildlife-corridors"><h1>Brazil, Widlife Corridors</h1></a>
                            <p>Restoring the Atlantic Forest to bring back wildlife</p>
                        </div>
                        <div class="col">
                            <a href="https://www.weforest.org/project/chintumukulu-conservancy"><img src="~/Images/Projects-page/second.jpg" alt="Zambia" /></a>
                            <a class="para" href="https://www.weforest.org/project/chintumukulu-conservancy"><h1>Chintumukulu Conservacy</h1></a>
                            <p>Establishing the Mpumba Forest Corridor in Zambia</p>
                        </div>
                    </div>
                    <div class="second">
                        <div class="second-row">
                            <div class="col">
                                <a href="https://www.weforest.org/project/tieteforests"></a><img src="~/Images/Projects-page/third.jpg" alt="Tiete Forests" />
                                <a class="para" href="https://www.weforest.org/project/tieteforests"><h1>Tiete Forests</h1></a>
                                <p>Protecting water resources and connecting forest remnants in Brazil</p>
                            </div>
                            <div class="col">
                                <a href="https://www.weforest.org/project/reversing-deforestation-apui"><img src="~/Images/Projects-page/fourth.jpg" alt="Apui" /></a>
                                <a class="para" href="https://www.weforest.org/project/reversing-deforestation-apui"><h1>Reversing Deforestation in Apui</h1></a>
                                <p>Engaging local farmers in protecting the Amazon</p>
                            </div>
                        </div>
                    </div>
                    <div class="third">
                        <div class="third-row">
                            <div class="col">
                                <a href="https://www.weforest.org/project/copperbelt-forests-farms"><img src="~/Images/Projects-page/fifth.jpg" alt="Copperbelt" /></a>
                                <a class="para" href="https://www.weforest.org/project/copperbelt-forests-farms"><h1>Copperbelt: Forests on Farms</h1></a>
                                <p>Engaging smallholder farmers in reversing deforestation</p>
                            </div>
                            <div class="col">
                                <a href="https://www.weforest.org/project/katanino-zambia"><img src="~/Images/Projects-page/sixth.jpg" alt="Zambia" /></a>
                                <a class="para" href="https://www.weforest.org/project/katanino-zambia"><h1>Katanino, Zambia</h1></a>
                                <p>Supporting successful Joint Forest Management</p>
                            </div>
                        </div>
                    </div>
                    <div class="fourth">
                        <div class="fourth-row">
                            <div class="col">
                                <a href="https://www.weforest.org/project/malawi-mulanje"><img src="~/Images/Projects-page/seventh.jpg" alt="." /></a>
                                <a class="para" href="https://www.weforest.org/project/malawi-mulanje"><h1>Malawi Mulanje</h1></a>
                                <p>Restoring forest to protect water and biodiversity</p>
                            </div>
                            <div class="col">
                                <a href="https://www.weforest.org/project/ethiopia-seret"><img src="~/Images/Projects-page/eighth.jpg" alt="Zambia" /></a>
                                <a class="para" href="https://www.weforest.org/project/ethiopia-seret"><h1>Ethiopia Seret</h1></a>
                                <p>Empowering communities and fighting deforestation</p>
                            </div>
                        </div>
                    </div>
                    <div class="fifth">
                        <div class="fifth-row">
                            <div class="col">
                               <a href="https://www.weforest.org/project/ethiopia-desaa"><img src="~/Images/Projects-page/ninth.jpg" alt="." /></a>
                                <a class="para" hrfe="https://www.weforest.org/project/ethiopia-desaa"><h1>Ethiopia Desa'a</h1></a>
                                <p>Reversing land degradation and poverty through forest landscape restoration</p>
                            </div>
                            <div class="col">
                                <a href="https://www.weforest.org/project/ethiopia-amhara"><img src="~/Images/Projects-page/tenth.jpg" alt="Zambia" /></a>
                                <a class="para" href="https://www.weforest.org/project/ethiopia-amhara"><h1>Ethiopia Amhara</h1></a>
                                <p>A community-based approach to restore degraded lands</p>
                            </div>
                        </div>
                    </div>
                    <div class="sixth">
                        <div class="sixth-row">
                            <div class="col">
                                <a href="https://www.weforest.org/project/sine-saloum-mangroves"><img src="~/Images/Projects-page/eleventh.jpg" alt="." /></a>
                                <a class="para" href="https://www.weforest.org/project/sine-saloum-mangroves"><h1>Sine-Saloum Mangroves</h1></a>
                                <p>Restoring coastal ecosystems in Senegal</p>
                            </div>
                            <div class="col">
                                <a class="https://www.weforest.org/project/casamance-mangroves"><img src="~/Images/Projects-page/twelveth.jpg" alt="Zambia" /></a>
                                <a class="para" href="https://www.weforest.org/project/casamance-mangroves"><h1>Casamance Mangroves</h1></a>
                                <p>Restoring coastal ecosystems in Senegal</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        <div class="completed-project">
            <h1>Completed Projects</h1>
            <div class="seventh">
                <div class="seventh-row">
                    <div class="col">
                        <a href="https://www.weforest.org/project/burkina-faso"><img src="~/Images/Projects-page/thirteenth.jpg" alt="." /></a>
                        <a class="para" href="https://www.weforest.org/project/burkina-faso"><h1>Burkina Faso</h1></a>
                        <p>Greening the Sahel Desert across Africa</p>
                    </div>
                    <div class="col">
                        <a href="https://www.weforest.org/project/philippines"><img src="~/Images/Projects-page/fourteenth.jpg" alt="Zambia" /></a>
                        <a class="para" href="https://www.weforest.org/project/philippines"><h1>Philippines</h1></a>
                        <p>Restoring the Sarangani forest</p>
                    </div>
                </div>
            </div>
            <div class="eighth">
                <div class="eighth-row">
                    <div class="col">
                        <a href="https://www.weforest.org/project/madagascar-ampohibe"><img src="~/Images/Projects-page/fifteen.png" alt="." /></a>
                        <a class="para" href="https://www.weforest.org/project/madagascar-ampohibe"><h1>Madagascar Ampohibe</h1></a>
                        <p>Restoring Degraded Lands</p>
                    </div>
                    <div class="col">
                        <a herf="https://www.weforest.org/project/madagascar-kalamboro"><img src="~/Images/Projects-page/sixteenth.jpg" alt="Zambia" /></a>
                        <a class="para" href="https://www.weforest.org/project/madagascar-kalamboro"><h1>Madagascar Kalamboro</h1></a>
                        <p>Protecting Madagascar's Mangroves</p>
                    </div>
                </div>
            </div>
            <div class="ninth">
                <div class="ninth-row">
                    <div class="col">
                        <a href="https://www.weforest.org/project/kenya"><img src="~/Images/Projects-page/seventeen.jpg" alt="." /></a>
                        <a class="para" href="https://www.weforest.org/project/kenya"><h1>Kenya</h1></a>
                        <p>Restoring Mount Kenya National Park</p>
                    </div>
                    <div class="col">
                        <a href="https://www.weforest.org/project/ethiopia-rift-valley"><img src="~/Images/Projects-page/eighteen.jpg" alt="Zambia" /></a>
                        <a class="para" href="https://www.weforest.org/project/ethiopia-rift-valley"><h1>Ethiopia Rift Valley</h1></a>
                        <p>Breaking the Cycle of Poverty</p>
                    </div>
                </div>
            </div>
            <div class="tenth">
                <div class="tenth-row">
                    <div class="col">
                        <a href="https://www.weforest.org/project/india-sirumalai"><img src="~/Images/Projects-page/nineteen.jpg" alt="." /></a>
                        <a class="para" href="https://www.weforest.org/project/india-sirumalai"><h1>India Sirumalai</h1></a>
                        <p>Empowering communities through reforestation</p>
                    </div>
                    <div class="col">
                        <a href="https://www.weforest.org/project/kenya-meru"><img src="~/Images/Projects-page/twenty.jpg" alt="Zambia" /></a>
                        <a class="para" href="https://www.weforest.org/project/kenya-meru"><h1>Kenya Meru</h1></a>
                        <p>Alleviate local poverty thanks to reforestation</p>
                    </div>
                </div>
            </div>
            <div class="eleven">
                <div class="eleventh-row">
                    <div class="col">
                        <a href="https://www.weforest.org/project/zambia-conservation"><img src="~/Images/Projects-page/twenty-one.jpg" alt="." /></a>
                        <div class="text">
                            <a class="para" href="https://www.weforest.org/project/zambia-conservation"><h1>Zambia Conservation</h1></a>
                            <p>Training inmates in prison to permaculture techniques</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

