@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .s {
            color: darkorange;
        }

        .a {
            color: blue;
        }

        .e {
            color: lawngreen;
        }

        .p {
            color: red;
        }

        .myfooter {
            background-color: #a9a9e5;
            text-align: justify;
            padding-top: 10px;
        }

        .subfooter {
            background-color: #f98e09;
            color: white;
            text-align: center;
            padding: 10px;
        }

        .myfooter p, h3, ul {
            margin-left: 10px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div>
        <footer class="myfooter navbar-fixed-bottom">
            <div class="row">
                <div class="col-md-4">
                    <h3>About Us</h3>
                    <p>
                        We are a non profit organisation that aims to change lives. Our main target
                        is children from disadvantaged backgrounds. We are want to bring nothing but
                        the best education for them.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Useful links</h3>
                    <ul>
                        <li><a href="#">Saep SA</a></li>
                        <li><a href="#">SAEP USA</a></li>
                        <li><a href="#">SAEP Canada</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="subfooter">
                <span>All rights reserved to SAEP &copy;@DateTime.Now.Year</span>
            </div>
        </footer>
        <div class="banner-text">
            <h1>Global Warming Disasters</h1>
            <ul>
                <li>Temperature</li>
                <li>Frost-free season</li>
                <li>Hurricanes</li>
                <li>Health</li>
                <li>Sea Level</li>
                <li>Weather</li>
                <li>Economy</li>
            </ul>
        </div>
    </div>
</body>
</html>
